<%= form_with(model: frnd) do |form| %>
  <% if frnd.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(frnd.errors.count, "error") %> prohibited this frnd from being saved:</h2>

      <ul>
        <% frnd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    
    <%= form.text_field :first_name,class:"form-control pb-2",placeholder:"FirstName" %>
    <br></br>
  </div>

  <div class="field form-group">
    
    <%= form.text_field :last_name ,class:"form-control",placeholder:"LastName"%>
    <br></br>
  </div>

  <div class="field form-group">
    
    <%= form.text_field :Email ,class:"form-control",placeholder:"Email"%>
    <br></br>
  </div>

  <div class="field form-group">
    
    <%= form.number_field :phone_no,class:"form-control" ,placeholder:"Phone_no"%>
    <br></br>
  </div>

  <div class="field form-group">
    
    <%= form.text_field :twitter,class:"form-control",placeholder:"Twitter" %>
    <br />
  </div>

  <div>
    <%= form.submit  class:"btn btn-secondary" %>
  </div>
<% end %>
