<tr>
      <td><%= frnd.first_name  %></td>
      <td><%= frnd.last_name %></td>
      <td><%= frnd.Email %></td>
      <td><%= frnd.phone_no %></td>
      <td><%= frnd.twitter %></td>
      <td><%= link_to "Show", frnd %></td>
      <td><%= link_to "Edit", frnd %></td>
      <td><%= link_to "Destroy", frnd %></td>
     
</tr>

