<tr>

      <td><%= link_to frnd.first_name + ' ' + frnd.last_name , frnd %></td>
      
      </td>
      <td><%= frnd.Email %></td>
      <td><%= frnd.phone_no %></td>
      <td><%= frnd.twitter %></td>
      <td><%= frnd.user_id%></td>
      
      <td><%= link_to "Delete", frnd,class:"btn btn-danger btn-sm" %></td>
     
</tr>

